/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --cover-image: url("../images/cover-image-dark.png");
  --color-bg: #000028;
  --accent-color: #ff0070;
  --color-title: #db00ff;
  --color-text: #f1b2ce;
  --color-menu: #ff0070;
  --color-card-title: #000028;
  --color-button-hover: rgba(255, 0, 112, 0.4);
}
:root.theme-dark .header__text-dark {
  display: block;
}
