/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --cover-image: url("../images/cover-image-light.png");
  --color-bg:#FFF1F7;
  --font-size: 1.125rem;
  --font-family-ibm: 'IBM Plex mono';
  --accent-color: #ff8dcb;
  --color-title: #FFC2E6;
  --color-text: #353430;
  --color-menu: #353430;
  --color-card-title:#353430;
  --color-button-hover: rgba(53, 52, 48, 0.4);
}

