/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --cover-image: url("../images/cover-image-light.png");
  --color-bg: #fff1f7;
  --accent-color: #ff8dcb;
  --color-title: #ffc2e6;
  --color-text: #353430;
  --color-menu: #353430;
  --color-card-title: #353430;
  --color-button-hover: rgba(53, 52, 48, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    --cover-image: url("../images/cover-image-light.png");
    --color-bg: #fff1f7;
    --accent-color: #ff8dcb;
    --color-title: #ffc2e6;
    --color-text: #353430;
    --color-menu: #353430;
    --color-card-title: #353430;
    --color-button-hover: rgba(53, 52, 48, 0.4);
  }
  .header__text-dark {
    display: none;
  }
}

:root.theme-light .header__text-dark {
  display: none;
}
