/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */ 

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--cover-image);
  background-position: center;
  background-attachment: fixed;
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  gap: 39px;
}

/* Стили Header */

.header {
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  position: relative;
}
.decorated-zone::before {
  content:'';
  position:absolute;
  right: 10px;
  top: 10px;
  height: 25px;
  width: 25.04px;
  border-top: 1px solid var(--color-menu);
  border-right: 1px solid var(--color-menu);
}

.decorated-zone::after {
  content:'';
  position:absolute;
  left: 10px;
  bottom: 10px;
  height: 25px;
  width: 25.04px;
  border-bottom: 1px solid var(--color-menu);
  border-left: 1px solid var(--color-menu);
}

.header__text-dark {
  font-family: var(--font-family-ibm), sans-serif;
  font-size: var(--font-size);
  position: absolute;
  top: 10px;
  right: 38px;
  color: var(--color-menu);
  text-transform: uppercase;
}

:root.theme-light .header__text-dark {
    display: none;
  }

.header__text-dark::after {
  content: '';
  position: absolute;
  top: 30%;
  left: 134%;
  width: 9px;
  height: 9px;
  border: 1px solid var(--color-menu);
  border-radius: 50%;
  background-color: var(--color-menu);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 32%;
  padding-right: 5vw;
  font-size: var(--font-size);
}

.header__theme-menu-button {
  font-family: var(--font-family-ibm), sans-serif;
  color: var(--color-menu);
  background-color: transparent;
  border: none;
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--color-button-hover);
}

.header__theme-menu-button:focus-visible {
  text-decoration: underline;
  outline: none;
}
.header__title,
.footer__title {
  font-family: var(--font-family-ibm), sans-serif;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  display: flex;
  flex-direction: column;
  line-height: 6rem;
  justify-content: center;
  padding-left: 12px;
}

.header__title-text {
    color: var(--color-title);
    text-shadow: 4px 4px 0 var(--accent-color);
}

.header__description {
  display: flex;
  flex-direction: column;
  justify-self: center;
  padding-top: 11%;
  padding-left: 3vw;
  padding-right: 3vw;
}

.title-decor {
  font-family: var(--font-family-ibm);
  font-size: var(--font-size);
  color: var(--color-card-title);
  font-weight: 700;
}

.header__description span {
  background-color: var(--accent-color);
  width: fit-content;
  min-width: 100%;
}

/* Стили main */

.main {
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  gap: 52px;
  padding: 0px 10px 0 10px;
}

.card__section-why {
  display: grid;
  grid-template-rows: min-content min-content 1fr min-content 1fr;
}

.card__title {
  font-family: var(--font-family-ibm);
  font-weight: 700;
  font-size: var(--font-size);
}

.card__title-why,
.card__title-what,
.card__title-how {
  color: var(--color-menu);
    
}

.card__title-secondary,
.card__title-mod {
  background-color: var(--accent-color);
  margin-top: 22px;
  color:var(--color-card-title);
}

.card__description {
  font-family: var(--font-family-ibm);
  font-weight: 400;
  font-size: var(--font-size);
  color: var(--color-text);
  padding-top: 10px;
}

.card__title-mod {
  font-weight: 400;
}

.card__image {
  display: flex;
  flex-direction: column;
}

.card__image h3 {
  margin-top: 0px;
}

.card__image-group {
  margin-top: 9px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__image-group img {
  height: 100%;
  object-fit: cover;
}

/* Стили footer */

footer {
  height: 10vh;
  position: relative;
  min-height: 668px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-bg);
}
.footer__title {
  color: var(--color-title);
  text-shadow: 4px 4px 0 var(--accent-color);
  align-self: center;
  justify-self: center;
  padding-left: 0px;
}

/* Стили ссылок */
.card__description-link {
  text-shadow: 2px 2px 0 var(--accent-color);
}
.description-link {
  text-decoration: none;
}
.description-link:hover {
  text-decoration: underline;
}
.description-link:focus-visible {
  outline: 1px solid var(--color-card-title);
}

@media (width >= 768px) {
  .page {
    gap: 60px;
  }
  /* Планшетные стили для header */

.header {
  min-height: 1024px;
  grid-template-columns: 1fr 1fr;
}
.decorated-zone::before {
  right: 20px;
  top: 20px;
}

.decorated-zone::after {
  left: 20px;
  bottom: 20px;
}
.header__theme-menu {
  grid-column: 1 / 3;
  grid-row: 1;
  align-self: center;
  padding-block-start: 14vw;
}

.header__text-dark {
  top: 21px;
  right: 49px;
}

.header__theme-menu-list {
  padding-right: 28px;
}

.header__title {
  grid-column: 1 / 3;
  grid-row: 2;
  flex-direction: row;
  gap: 72px;
  justify-content: flex-start;
  padding-left: 0px;
  padding-block-start: 16vw;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}
.header__description {
  grid-column: 2 / 3;
  padding-left: 0px;
  grid-row: 3;
}

/* Планшетные стили для main */

.main {
padding: 0px 20px 0 20px;
gap: 37px;
}

/* Секция why */

.card__section-why {
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 37px;

}
.card__title-why {
  grid-row: 1/5;
}
.card__section-why h3,
.card__section-why p {
  grid-column: 2/4;
}
.card__title-secondary {
  margin: 0px;
}
.card__title-dopamine {
  margin-top: 22px;
}

.card__description-dopamine {
  margin-top: 0px;
}

/* Секция what */

.card__section-what {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.card__title-what {
  grid-template-rows: 1/5;
}
.card__section-what .card__title-secondary,
.card__section-what .card__description {
  grid-column: 1/5;
}

.card__section-what .card__title-multi,
 .card__title-food,
 .card__title-gadget {
  margin-top: 21px;
}

/* Секция how */
.card__section-how {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content min-content min-content 1fr min-content 1fr min-content 1fr min-content 1fr min-content 1fr;
  padding-top: 43px;
  column-gap: 23px;
}

.card__title-how {
  grid-row: 1/13;
}

.card__section-how h3,
.card__section-how p {
  grid-column: 2/4;
  margin-left: 6px;
}
/* Секция image */

.card__image-group {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(229px, 1fr));
  gap: 20px;
  margin-top: 20px;
}
.card__image-group img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}
.card__image-sunset {
  grid-column: 1/3;
  grid-row: 1;
}
.card__image-icecream {
  grid-column: 3;
  grid-row: 1/3;
}
.card__image-сassette {
  grid-column: 1;
  grid-row: 2/5;
}
.card__image-book {
  grid-column: 2;
  grid-row: 2/2;
}
.card__image-stret {
  grid-column: 2/4;
  grid-row: 3/5;
}
.footer {
  min-height: 1024px;
}
.footer__title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}
}

@media (width >= 1024px) {
  /* header для ПК версии */

.header {
  min-height: 768px;
}

.header__theme-menu {
  align-self: start;
  justify-self: center;
  padding-block-start: 17px;
}

.header__theme-menu-list {
  padding: 0px;
  flex-direction: row;
  gap: 25px;
}

.header__title {
  padding-block-start: 8vw;
  grid-column: 1/3;
  gap: 94px;
}

.header__description {
  padding-right: 2vw;
  padding-top: 10%;
}

/*main для ПК версии */

/* section why */

.card__section-why {
column-gap: 24px;
}

/* section what */
.card__section-what {
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 21px;
}
.card__section-what .card__title-multi {
  grid-column: 1;
}

.card__section-what .card__description-multi {
  grid-column: 1;
  grid-row: 3/8;
}

.card__section-what .card__title-food {
  grid-column: 2;
}
.card__section-what .card__description-food {
  grid-column: 2;
  grid-row: 3/8;
}

.card__section-what .card__title-gadget {
  grid-column: 3;
}

.card__section-what .card__description-gadget {
  grid-column: 3;
  grid-row: 3/8;
}

/* section how */
.card__section-how {
  padding-top: 45px;
  column-gap: 4px;
}
.card__title-mod {
  margin-top: 21px;
}

/* section image */
.card__image-group {
grid-template-columns: repeat(auto-fill, minmax(315px, 1fr));
}

/* footer */
.footer {
  min-height: 768px;
}
}