/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--cover-image);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
}

/* Стили Header */
.header {
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  right: 10px;
  top: 10px;
  height: 25px;
  width: 25.04px;
  border-top: 1px solid var(--color-menu);
  border-right: 1px solid var(--color-menu);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  left: 10px;
  bottom: 10px;
  height: 25px;
  width: 25.04px;
  border-bottom: 1px solid var(--color-menu);
  border-left: 1px solid var(--color-menu);
}

.header__text-dark {
  font-family: var(--font-family), sans-serif;
  font-size: var(--font-size);
  position: absolute;
  top: 10px;
  right: 38px;
  color: var(--color-menu);
  text-transform: uppercase;
}

.header__text-dark::after {
  content: "";
  position: absolute;
  top: 30%;
  left: 134%;
  width: 9px;
  height: 9px;
  border: 1px solid var(--color-menu);
  border-radius: 50%;
  background-color: var(--color-menu);
  box-shadow: 0 0 4px 2px rgba(255, 0, 112, 1);
}

.header__theme-menu {
  justify-self: end;
  padding-block-start: 50px;
  padding-inline-end: 6px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 32%;
  padding-right: 1vw;
  font-size: var(--font-size);
  justify-content: center;
  align-items: center;
}

.header__theme-menu-button {
  font-family: var(--font-family), sans-serif;
  color: var(--color-menu);
  background-color: transparent;
  border: none;
  text-transform: lowercase;
}
.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--color-menu);
  padding: 1.5px 13px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--color-button-hover);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--color-menu);
  outline: none;
}
.page__title-decor {
  font-family: var(--font-family), sans-serif;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  display: flex;
  flex-direction: column;
  line-height: 83%;
  justify-content: center;
  padding-left: 12px;
  color: var(--color-title);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__description {
  display: flex;
  flex-direction: column;
  justify-self: center;
  padding-top: 55px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 23.4px;
}

.title-decor {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--color-card-title);
  font-weight: 700;
}

.header__description span {
  background-color: var(--accent-color);
  width: fit-content;
  min-width: 100%;
}

/* Стили main */

.main {
  margin-block-start: 39px;
  display: flex;
  flex-direction: column;
  padding: 0px 10px 0 10px;
}

.section {
  display: grid;
  grid-template-rows: min-content 1fr;
}

.section__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: var(--font-size);
  color: var(--color-menu);
}

.section-what {
  margin-block-start: 47px;
}
.section-how {
  margin-block-start: 48px;
}
.card__title,
.section__title-secondary {
  background-color: var(--accent-color);
  margin-top: 21px;
  color: var(--color-card-title);
}

.card__description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: var(--font-size);
  color: var(--color-text);
  padding-top: 10px;
  line-height: 23.4px;
}

.card__title-mod {
  font-weight: 400;
  background-color: var(--accent-color);
  margin-top: 21px;
  color: var(--color-card-title);
}

.section__image {
  margin-block-start: 27px;
}

.card__image {
  display: flex;
  flex-direction: column;
}

.card__image-group {
  margin-top: 9px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__image-group img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Стили footer */

.footer {
  height: 100vh;
  position: relative;
  min-height: 668px;
  margin-block-start: 43px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__title {
  align-self: center;
  justify-self: center;
  padding-left: 0px;
}

/* Стили ссылок */
.description-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}
.description-link:hover {
  border-bottom: 1px solid var(--color-text);
}
.description-link:focus-visible {
  outline: 1px solid var(--color-text);
}

@media (width >= 768px) {
  /* Планшетные стили для header */

  .header {
    min-height: 1024px;
    grid-template-columns: 1fr 1fr;
  }
  .decorated-zone::before {
    right: 20px;
    top: 20px;
  }

  .decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }
  .header__theme-menu {
    grid-column: 1 / 3;
    grid-row: 1;
    align-self: center;
    padding-block-end: 63px;
    padding-inline-end: 6px;
  }

  .header__text-dark {
    top: 21px;
    right: 49px;
  }

  .header__theme-menu-list {
    padding-right: 14px;
  }

  .header__title {
    grid-column: 1 / 3;
    grid-row: 2;
    padding-left: 0px;
    padding-block-start: 0vw;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  .header__description {
    grid-column: 2 / 3;
    padding-left: 0px;
    grid-row: 3;
    padding-right: 20px;
    padding-block-start: 161px;
  }

  /* Планшетные стили для main */

  .main {
    margin-block-start: 38px;
    padding: 0px 20px 0 20px;
    gap: 37px;
  }

  /* Секция why */

  .section-why {
    grid-template-columns: minmax(236px, min-content) 1fr;
    column-gap: 20px;
  }
  .section__title-why {
    grid-row: 1/3;
    padding-top: 22px;
  }
  .card__section-why h3,
  .card__section-why p {
    grid-column: 2/4;
  }
  .card__title-secondary {
    margin: 0px;
  }

  /* Секция what */

  .section-what {
    margin-block-start: 42px;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: repeat(4, min-content);
  }

  .section-what .card {
    grid-column: 1/3;
  }

  /* Секция how */
  .section-how {
    display: grid;
    grid-template-columns: minmax(236px, min-content) 1fr;
    grid-template-rows: repeat(6, min-content);
    margin-block-start: 41px;
    column-gap: 20px;
  }

  .section__title-primary {
    grid-row: 1/7;
  }
  .section__title-secondary {
    margin: 0px;
  }
  .card__title-mod {
    margin-top: 20px;
  }
  /* Секция image */
  .section__image {
    margin-block-start: 22px;
  }
  .card__image-group {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(229px, 1fr));
    gap: 20px;
    margin-top: 20px;
  }

  .card__image:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1;
  }
  .card__image:nth-child(2) {
    grid-column: 3;
    grid-row: 1/3;
  }
  .card__image:nth-child(3) {
    grid-column: 1;
    grid-row: 2/5;
  }
  .card__image:nth-child(4) {
    grid-column: 2;
    grid-row: 2/2;
  }
  .card__image:nth-child(5) {
    grid-column: 2/4;
    grid-row: 3/5;
  }
  .footer {
    min-height: 1024px;
    margin-block-start: 60px;
  }
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  /* header для ПК версии */

  .header {
    min-height: 768px;
  }

  .header__theme-menu {
    align-self: start;
    justify-self: center;
    padding-block-start: 18px;
    padding-inline-start: 6px;
  }

  .header__theme-menu-list {
    padding: 0px;
    flex-direction: row;
    gap: 21px;
    padding-inline-start: 8px;
    align-items: center;
    justify-content: center;
  }

  .header__title {
    padding-block-start: 0;
    grid-column: 1/3;
    gap: 94px;
  }

  .header__description {
    padding-right: 2vw;
    padding-top: 114px;
  }

  /*main для ПК версии */

  /* section why */

  .section-why {
    grid-template-columns: minmax(315px, min-content) 1fr;
  }

  /* section what */
  .section-what {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 21px;
  }
  .section-what .section__title {
    grid-column: 1;
  }

  .section-what .card:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
  }
  .section-what .card:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
  }
  .section-what .card:nth-child(4) {
    grid-column: 3;
    grid-row: 2;
  }
  /* section how */
  .section-how {
    grid-template-columns: minmax(315px, min-content) 1fr;
    margin-block-start: 42px;
  }
  .card__title-mod {
    margin-top: 21px;
  }

  /* section image */
  .section__image {
    min-width: 100%;
    min-height: 100%;
  }
  .card__image-group {
    grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
  }

  /* footer */
  .footer {
    min-height: 768px;
  }
}
