/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --cover-image: url("../images/cover-image-dark.png");
  --color-bg:#000028;
  --font-size: 1.125rem;
  --font-family-ibm: 'IBM Plex mono';
  --accent-color: #ff0070;
  --color-title: #DB00FF;
  --color-text: #F1B2CE;
  --color-menu: #ff0070;
  --color-card-title:#000028;
  --color-button-hover: rgba(255, 0, 112, 0.4);;
}

